@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');


html{

}

body{
	
}



.ui-button{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
}

.ui-button__button{
	height: 32px;
	min-width: 72px;
	padding: 0 18px;
	border: 2px solid #232528;
	color: #232528;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
  	text-decoration: none;
  	transition: box-shadow 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out;
}

.ui-button__button::-moz-focus-inner {
    outline: none; 
}

.ui-button__button:hover {
    background-color: rgba(215,215,215, 0.15); 
}

.ui-button__button:focus {
    outline: none; 
}

.ui-button:focus:not(:active) {
    background: transparent;
}
  
.ui-button__button:active {
	background-color: rgba(0,0,0, 0.12);
}

.ui-button__button--raised{
	border: 2px solid #232528;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 2px 0 rgba(35, 37, 40, 0.32), 1px 0 1px -2px rgba(35, 37, 40, 0.2);
}


.ui-button__button--raised:active {
	box-shadow: 0 5px 4px rgba(35, 37, 40, 0.32);
    background-color: rgba(35,37,40, 1);
    color: #FFFFFF;
}

.ui-button__button--raised:focus:not(:active) {
    box-shadow: 0 2px 2px 0 rgba(35, 37, 40, 0.32), 1px 0 3px -2px rgba(35, 37, 40, 0.2);
    background: rgba(255, 255, 255, 0.8);
}

.ui-ripple{
	overflow: hidden;
	position:relative;
}

.ui-ripple__effect{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	animation: ripple-animation 1s;
}

@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.5;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}



.ui-button__button[disabled]{
	color: rgba(35,37,40, 0.3);
  	cursor: default;
  	background-color: rgba(35,37,40, 0.15);
  	border: 2px solid rgba(35,37,40, 0);
  	box-shadow: none;
}

.ui-button__button--raised[ui-disabled]{
	color: rgba(35,37,40, 0.3);
  	cursor: default;
  	background-color: rgba(35,37,40, 0.15);
  	border: 2px solid rgba(35,37,40, 0);
  	box-shadow: none;
}




