@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i');

html{

}

body{
	
}



.ui-button{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
}

.ui-button__button{
	height: 32px;
	min-width: 72px;
	padding: 0 20px;
	border: 2px solid #232528;
	color: #232528;
	background: transparent;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
  	text-decoration: none;
  	border: 2px solid transparent;
  	transition: box-shadow 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out;
}

.ui-button__button::-moz-focus-inner {
    outline: none; 
}

.ui-button__button:hover {
    background-color: rgba(35,37,40, 0.15);
}

.ui-button__button:focus {
    outline: none; 
}
  
.ui-button__button:active {
	background-color: rgba(35,37,40, 0.4);
}



.ui-button__button_flat{
	border: 2px solid transparent;
	background: transparent;
	box-shadow: none;
}

.ui-button__button_flat:active {
    background-color: rgba(35,37,40, 0.4);
}




.ui-button__button_raised{
	border: 2px solid #232528;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 2px 0 rgba(35, 37, 40, 0.32), 1px 0 1px -2px rgba(35, 37, 40, 0.2);
}

.ui-button__button_raised:active {
	box-shadow: 0 5px 4px rgba(35, 37, 40, 0.32);
    background-color: rgba(35,37,40, 0.4);
    border: 2px solid rgba(35,37,40, 0);
}


.ui-button__button_round{
	border-radius: 16px;
	transform: translate3d(0, 0, 0); /* For Ripple effect */
}

.ui-button__button_transparent{
	background: transparent;
}


.ui-ripple{
	overflow: hidden;
	position:relative;
}

.ui-button__button_round.ui-ripple{
	border-radius: 16px;
}

.ui-ripple:after {
	content: '';
	position: absolute;
	left: 50%;
  	top: 50%;
	border-radius: 50%;
	width: 1px;
	height: 1px;
	background: #232528;
	visibility: hidden;
}

.ui-ripple:focus:after {
  visibility: visible;
}

.ui-ripple:not(:active):after {
  animation: ripple-animation 1.5s ease-out;
}

@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(500);
      opacity: 0;
    }
}



.ui-button__button[disabled]{
	color: rgba(35,37,40, 0.3);
  	cursor: default;
  	background-color: rgba(35,37,40, 0.15);
  	border: 2px solid rgba(35,37,40, 0);
  	box-shadow: none;
}

.ui-button__button_raised[disabled]{
	color: rgba(35,37,40, 0.3);
  	cursor: default;
  	background-color: rgba(35,37,40, 0.15);
  	border: 2px solid rgba(35,37,40, 0);
  	box-shadow: none;
}


.ui-button__button--fab{
	height: 56px;
	width: 56px;
	min-width: 56px;
	border-radius: 50%;
	transform: translate3d(0, 0, 0); /* For Ripple effect */
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;
}









