@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html{

}

body{
	
}



.ui-button{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;

}

.ui-button__button{
	height: 32px;
	min-width: 72px;
	padding: 0 18px;
	border: 2px solid #232528;
	color: #232528;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
  	text-decoration: none;
  	transition: box-shadow 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out;
}